# ================
# Build outputs
# ================
# Directories
**/build
bin/
out/

# Binaries
**/*.vst3
**/*.component

# Packaging
packaging/dmg
packaging/Output
**/*.dmg
**/*.pkg
**/*.exe

# CMake
**/cmake-build-*

# .env file (more for configuration than secrets)
**/*.env

# ================
# Google Cloud
# ================
gha-creds-*.json

# ================
# IDEs
# ================
.vs/
.vscode/
.idea/

# ================
# OS
# ================
# MacOS
**/.DS_Store
